@model WebBanXe.Model.PRODUCT


@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Areas/Admin/Helpers/ckeditor/ckeditor.js"></script>
    @using (Html.BeginForm("Create", "PRODUCTs", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
    {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="h2">TẠO MỚI SẢN PHẨM</h2>
                </div>
                <div class="col-md-3" style="text-align:right;">
                    @Html.ActionLink("QUAY LẠI", "Index")
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NameProduct, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NameProduct, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NameProduct, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <lable class="control-label col-md-2">Hình ảnh</lable>
                        <div class="col-md-12">
                            <input type="file" name="fileUpload" id="fileUpload">
                            <div class="image-preview" id="imagePreview">
                                <img src="" alt="Image Preview" class="image-preview-img " />
                                <span class="image-preview-text">Image Preview</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdBrand, "IdBrand", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdBrand", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdBrand, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdType, "IdType", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdType", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, @id = "txtContent" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            <script>CKEDITOR.replace("txtContent");</script>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo" class="btn btn-success form-control" />
        </div>
    </div>
</div>
    }
    
    

<script>
    var fileUpload = document.getElementById("fileUpload");
    var previewContainer = document.getElementById("imagePreview");
    var previewImage = previewContainer.querySelector(".image-preview-img");
    var previewText = previewContainer.querySelector(".image-preview-text");

    fileUpload.addEventListener("change", function () {
        var file = this.files[0] ;
        if (file) {
            var reader = new FileReader();
            previewText.style.display = "none";
            previewImage.style.display = "block";
            reader.readAsDataURL(file);
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
        }
        else {
            previewText.style.display = null;
            previewImage.style.display = null;
            previewImage.setAttribute("src", this.result);
        }
    });
</script>
