@model IEnumerable<WebBanXe.Model.RENT>

@{
    ViewBag.Title = "RENT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:20px;">
    <a href="@Url.Action("Create","RENTs")" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCT.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USER.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCT.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.FullName)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit","RENTs",new { @id = item.IdRent })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","RENTs",new { @id = item.IdRent })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Details","RENTs",new { @id = item.IdRent })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>