@model IEnumerable<WebBanXe.Model.ORDER>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USER.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReduceMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISCOUNT.CodeDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MomoPaymentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReduceMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayCreate)
                </td>
                <td style="text-align:center;">
                    @if (item.Status == 0)
                    {

                        <i class="fas fa-times" style="font-size:30px;color:red"></i>

                    }
                    else
                    {
                        <i class="fas fa-check" style="font-size:30px;color:green"></i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISCOUNT.CodeDiscount)
                </td>

                @if (!string.IsNullOrEmpty(item.MomoPaymentID))
                {
                    <td>
                        Thanh toán Online
                    </td>
                }
                else
                {
                    <td>
                        Thanh toán COD
                    </td>
                }
                @if (!string.IsNullOrEmpty(item.MomoPaymentID) && item.Status == 0)
                {
                    <td>
                        <a class="btn btn-sm btn-info" href="@Url.Action("PaymentAgain","Cart",new { @id = item.IdOrder })">
                            <i class="fas fa-check"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>

<style>
    #myTable_wrapper {
        margin: 0 20px;
    }

    #myTable > thead {
        background-color: lightskyblue;
        color: ghostwhite;
    }

    #myTable, th, td {
        border: 1px solid #000000;
    }
</style>