@model IEnumerable<WebBanXe.Model.DISCOUNT>

@{
    ViewBag.Title = "DISCOUNT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:20px;">
    <a href="@Url.Action("Create","DISCOUNTs")" class="btn btn-primary">Tạo mới</a>
</p>
<table id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit","DISCOUNTs",new { @id = item.IdDiscount })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","DISCOUNTs",new { @id = item.IdDiscount })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Details","DISCOUNTs",new { @id = item.IdDiscount })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>