@using WebBanXe.Model
@model CartModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Thông Tin Giỏ hàng</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-lg-12">
                <p class="text-muted lead">Bạn hiện có <span>@ViewBag.TotalQuantity</span> sản phẩm trong giỏ hàng của mình.</p>
            </div>
            <div id="basket" class="col-lg-8">
                <div class="box mt-0 pb-0 no-horizontal-padding">
                    @using (Html.BeginForm("UpdateCart", "Cart"))
                    {
                        <form method="get" action="shop-checkout1.html">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Sản phẩm</th>
                                            <th></th>
                                            <th>Số lượng</th>
                                            <th>Đơn giá</th>
                                            <th>Giảm giá</th>
                                            <th colspan="2">Thành tiền</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.ListProduct)
                                        {
                                            <tr>
                                                <td><a href="#"><img src="@item.sLinkImg"></a></td>
                                                <td><a href="#">@item.sNameProduct</a></td>
                                                <td> <a href="@Url.Action("Detail", "Product", new { id = item.iMaProduct })">Chi tiết</a></td>
                                                <td>
                                                    <input type="number" name="txtSoluong" min="1" value="@item.iQuantity" class="form-control">
                                                </td>
                                                <td>@String.Format("{0:0,0}", item.sPrice) </td>
                                                <td>0 đ </td>
                                                <td>@String.Format("{0:0,0}", item.sTotalMoney) </td>
                                                <td><a href="@Url.Action("DeleteCart", "Cart", new { @iMaProduct = item.iMaProduct })"><i class="fas fa-trash-alt"></i></a></td>
                                            </tr>

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr style="border-bottom: none">
                                            <th colspan="5">Giảm giá</th>
                                            <th colspan="2">
                                                @String.Format("{0:0,0}", Model.DiscountAmount) VNĐ
                                            </th>
                                        </tr>
                                        <tr>

                                            <th colspan="5">Tổng</th>
                                            <th colspan="2">@String.Format("{0:0,0}", ViewBag.FinalMoney) VNĐ </th>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>

                            <div>
                                <h5>Hình thức thanh toán</h5>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hinhthucthanhtoan" id="hinhthucthanhtoan1" value="0" checked>
                                    <label class="form-check-label" for="hinhthucthanhtoan1">
                                        <img src="https://static.mservice.io/img/logo-momo.png" alt="Momo" style="width: 50px; height: 50px" />
                                        Thanh toán online qua momo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hinhthucthanhtoan" id="hinhthucthanhtoan2" value="1">
                                    <label class="form-check-label" for="hinhthucthanhtoan2">
                                        <img src="https://image.flaticon.com/icons/png/512/2898/2898030.png" alt="COD" style="width: 50px; height: 50px" />
                                        Thanh toán tại nhà
                                    </label>
                                </div>
                            </div>

                            <div class="box-footer d-flex justify-content-between align-items-center">
                                <div class="left-col"><a href="@Url.Action("Index","Product")" class="btn btn-secondary mt-0"><i class="fa fa-chevron-left"></i> Quay lại cửa hàng</a></div>
                                <div class="right-col">
                                    <button type="submit" value="Xóa tất cả" class="btn btn-secondary" formaction="xoa-gio-hang"> Xoá tất cả</button>
                                    <button type="submit" value="Cập Nhật" class="btn btn-secondary" formaction="cap-nhat-gio-hang"><i class="fa fa-refresh"></i> Cập nhật</button>
                                    <button type="submit" class="btn btn-template-outlined" formaction="dat-hang">Đi đến đặt hàng <i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box mt-0 mb-4 p-0">
                    <div class="box-header mt-0">
                        <h4>Mã giảm giá</h4>
                    </div>
                    <p class="text-muted">Nếu bạn có mã phiếu giảm giá, vui lòng nhập mã đó vào ô bên dưới.</p>
                    @using (Html.BeginForm("Discount", "Cart"))
                    {
                        <div class="input-group">
                            @Html.TextBox("txtDiscount", Model.DiscountCode, new { @class = "form-control" })
                            <button type="submit" class="btn btn-template-main" formaction="Discount"><i class="fa fa-gift"></i></button>
                        </div>
                        <p>

                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.Error != null)
{
    <script>
        alert('@Html.Raw(ViewBag.Error)');
    </script>
}