@model WebBanXe.Model.CONTACT

@{
    ViewBag.Title = "FeedbackEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FeedbackEmail</h2>
<script src="~/Areas/Admin/Helpers/ckeditor/ckeditor.js"></script>

<div class="form-horizontal">
    <h4>CONTACT</h4>
    <hr />
    @using (Html.BeginForm("Feedback", "CONTACTs", FormMethod.Post))
    {
     

     

        <input name="id" value="@Model.IdContact" hidden />

        <div class="mb-3">
            <label class="form-label">Gửi đến:</label>
            <input type="text" name="address" class="form-control" required value="@Model.Email" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label">Tiêu đề:</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content,  new { htmlAttributes = new { @class = "form-control" }, @id = "txtcontent" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                <script>CKEDITOR.replace("txtContent");</script>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Gửi phản hồi</button>
    }
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
