@model IEnumerable<WebBanXe.Model.CONTACT>

@{
    ViewBag.Title = "CONTACT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:20px;">
  
</p>
<table id="myTable">
    <thead>
        <tr>
            <th  width="250">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th  width="200">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th  width="300">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th  width="100">
                @Html.DisplayNameFor(model => model.USER.FullName)
            </th>
            <th>
                Trạng thái
            </th>
            <th  width="150">Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.FullName)
                </td>
                <td>
                    @if (item.Status == false)
                    {
                        <span style="color:darkorange;">Chưa xem</span>
                    }
                    else
                    {
                        <span style="color:cornflowerblue;">Đã xem</span>
                    }
                </td>
                <td>

                    <a class="btn btn-sm btn-success" href="@Url.Action("Feedback","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Details","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>