@model WebBanXe.Model.BLOG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="h2">XEM CHI TIẾT</h2>
                </div>
                <div class="col-md-3" style="text-align:right;">
                    @Html.ActionLink("CHỈNH SỬA", "Edit", new { id = Model.IdBlog }) |
                    @Html.ActionLink("QUAY LẠI", "Index")
                </div>
            </div>
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            <textarea rows="15" cols="125">@Html.DisplayFor(model => model.Content)</textarea>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY_BLOG.NameCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_BLOG.NameCate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.FullName)
        </dd>

    </dl>
</div>
