@model WebBanXe.Model.TYPECAR

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <hr />
    <div class="form-group">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="h2">CHI TIẾT LOẠI XE</h2>
                </div>
                <div class="col-md-3" style="text-align:right;">

                    @Html.ActionLink("CHỈNH SỬA", "Edit", new { id = Model.IdType }) |
                    @Html.ActionLink("QUAY LẠI", "Index")
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row border border-2 border-dark rounded-3 py-3">
        <div class="col-md-12">
            @using (Html.BeginForm("Details", "TYPECAR", FormMethod.Post))
            {
                <input name="id" value="@Model.IdType" hidden />
                <div class="mb-3">
                    <label class="form-label">Tên loại xe</label>
                    <input type="text" name="address" class="form-control" required value="@Model.NameType" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hình ảnh</label>
                    <img src="@Model.ImgType" alt="" class="img-fluid row border border-2 border-dark mx-auto shadow text-center" />
                </div>

            }
        </div>
    </div>
</div>
