<div class="card-header ">
    <h3>Khoảng giá</h3>
</div>
<div class="list-group list-group-flush">

    <a href="@Url.Action("PPrice","Product", new { id =10000000 })" class="list-group-item">0 - 10 triệu</a>
    <a href="@Url.Action("PPrice","Product", new { id =20000000 })" class="list-group-item">10 - 20 triệu</a>
    <a href="@Url.Action("PPrice","Product", new { id =30000000 })" class="list-group-item">20 - 30 triệu</a>
    <a href="@Url.Action("PPrice","Product", new { id =50000000 })" class="list-group-item">30 - 50 triệu</a>
    <a href="@Url.Action("PPrice","Product", new { id =100000000 })" class="list-group-item">Trên 50 triệu</a>
    

</div>
