@model IEnumerable<WebBanXe.Model.TYPECAR>
@{
    ViewBag.Title = "PTypeCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">CỬA HÀNG</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="#">TRANG CHỦ</a></li>
                    <li class="breadcrumb-item active">CỬA HÀNG</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="bar">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Sản Phẩm</h2>
                </div>
            </div>
            <div class="col-md-3 py-3">
                <div class="card mb-3" style="width: 100%;">

                    @Html.Action("Brand", "Product")
                    @Html.Action("TypeCar", "Product")

                </div>
            </div>
            <div class="col-md-9">
                @foreach (var typecar in Model)
                {
                    <div class="text-center mx-4"><h2>@typecar.NameType</h2></div>
                    <div class="col-sm-4 my-5 mr-4">
                        <a href="@Url.Action("Detail","Product",new { id = typecar.IdType })" )></a>
                        <img src="~/Public/img/@typecar.ImgType" alt="@typecar.NameType" class="img-fluid card" />
                    </div>
                }
            </div>
        </div>
    </section>
</div>



