@using WebBanXe.Model
@using PagedList.Mvc;
@model PagedList.PagedList<BLOG>
@{
    ViewBag.Title = "Tạp chí xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section style="background: url('/Public/img/photogrid.jpg') center center repeat; background-size: cover;"
         class="relative-positioned">
    <!-- Carousel Start-->
    <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/bannerslider1-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7 text-center">
                            <img src="/Public/img/bannerslider2-xemayz.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-5">
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <h1>BẢO HÀNH</h1>
                            <ul class="list-unstyled">
                                <li>Vệ sinh xe</li>
                                <li>kiểm tra định kỳ</li>
                                <li>thay nhớt miễn phí trong vòng 2000km đầu</li>
                                <li>miễn phí rửa xe</li>
                            </ul>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/banner-cuoi-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7"><img src="/Public/img/xe-con-tay-tu-25-trieu-xemayz.png" alt="" class="img-fluid"></div>
                        <div class="col-md-5">
                            <h1>Xe côn tay</h1>
                            <ul class="list-unstyled">
                                <li>Giá từ 25-40 triệu</li>
                                <li>nhiều mẫu mã, giá cả phải chăng</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End-->
</section>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div id="blog-listing-medium" class="col-md-9">
                <section class="post">
                    <div class="row">
                        @foreach (var blog in Model)
                        {


                            <div class="col-md-4 my-2">
                                <a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)">
                                    @foreach (var item in blog.IMG_BLOG)
                                    {

                                        if (blog.IdBlog == item.IdBlog)
                                        {
                                            <img src="@item.LinkImg" alt="Example blog post alt" class="img-fluid shadow">
                                        }


                                    }
                                </a>
                            </div>
                            <div class="col-md-8 my-2">
                                <a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)"><h2 class="h3 mt-0"> @blog.Title</h2></a>
                                <div class="d-flex flex-wrap justify-content-between text-xs">
                                    <p class="author-category">
                                        @*@blog.USER.FullName*@<span>in</span> XEMAYDHCV
                                    </p>
                                    <p class="date-comments"><a href="#"><i class="fa fa-calendar-o"></i>@blog.DateCreate</a></p>
                                </div>
                                <p class="card-title text-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></p>
                                <p class="read-more text-right"><a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)" class="btn btn-template-outlined">đọc thêm</a></p>
                            </div>
                        }
                        <ul class="pager d-flex align-items-center justify-content-between list-unstyled" style="position: absolute; width: 100%; padding-right: 15px; bottom: -80px; ">
                            <li class="MenuPage">
                                @Html.PagedListPager(Model, Page => Url.Action("BlogHome", new { Page = Page }))
                            </li>


                            <li class="previous"><a href="#" class="btn btn-template-outlined">← Older</a></li>
                            <li class="next disabled"><a href="" class="btn btn-template-outlined">Newer →</a></li>
                        </ul>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
            <div class="col-md-3">
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h2><a href="#">THỂ LOẠI</a></h2>
                    </div>
                    <div class="panel-body">
                        @Html.Action("CategoryBlog", "Blog")
                    </div>
                </div>
                @*<div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h2><a href="#">TÁC GIẢ</a></h2>
        </div>
        @foreach (var item in (List<USER>)ViewBag.FULLNAME)
        {
            <div class="panel-body">
                <div class="card-title md-3" style="width: 100%;">

                    @item.FullName

                </div>
            </div>
        }



        </div>*@
                @*<div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h2><a href="#">TÁC GIẢ</a></h2>
                    </div>
                    <div class="panel-body">
                        @Html.Action("Author", "Blog")
                    </div>
                </div>
            </div>*@
</div>






